.about-my-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 140px;
    align-items: flex-start;
    align-content: center;
    color: white !important;
    font-family: "Poppins", sans-serif !important;
  }
  .about-my-name-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    color: white !important;
    font-family: "Poppins", sans-serif !important;
  }
  .my-name-h1 {
    font-size: 50px;
  }
  .my-name-is {
    color: #03e9f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 47vw;
  }
  
  .about-me-personal-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 0;
  }
  .i-built-things {
    font-size: 70px;
  }
  
  .section-before-say-hello {
    display: flex;
    align-items: center !important;
    z-index: 100 !important;
  }
  .user-main-image {
    width: 260px;
    height: 260px;
    object-fit: cover;
    margin-right: 100px;
  }
  .about-me-main-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 140px;
    margin-right: 140px;
  }
  .about-me-text-div h6 {
    color: white;
  }
  @media (max-width: 770px) {
    .about-my-name {
      margin: 0px 40px;
    }
    .user-main-image {
      margin-right: 0;
    }
    .my-name-h1 {
      font-size: 30px;
    }
    .i-built-things {
      font-size: 30px;
    }
    .about-me-main-div {
      flex-direction: column-reverse;
      margin-left: 40px;
      margin-right: 40px;
      justify-content: center;
    }
  }
  